<div id="<%= dom_id instruction %>">
  <p>
    <strong>Recipe:</strong>
    <%= instruction.recipe_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= instruction.name %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= instruction.number %>
  </p>

</div>
