<h1>Editing remotefile</h1>

<%= render "form", remotefile: @remotefile %>

<br>

<div>
  <%= link_to "Show this remotefile", @remotefile %> |
  <%= link_to "Back to remotefiles", remotefiles_path %>
</div>
